// Home Content

.home {
   width: 900px;
   margin: 0 auto;
  
  

   
      
     
    }

    .intro {
    
    h2 {
      .padding();
    }

    p {
      padding:0 15px;
      color: @main-font-color;
      font-weight: bold;
    }
  
  }

  .space-images {
    .display();
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    .padding();

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
      color: @main-font-color;
      font-weight: bold;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    .display();
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
        color: @main-font-color;
        font-weight: bold;
      }

      .btn {
        .btn-position();
        .btn-styling();
        .btn-dimensions();

       
    }
  }
  .btn:hover {
    color: @btn-bg-color;
    background-color: white;
  

}
    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
// home

@media @phone{

  .home {
    width: 500px;
    margin: auto;
    display: flexbox;
  

    .heading {
      margin-left: -250px;  
    

    }

    .intro-image {
      width: 100%;
      border-radius: 5px;
    }

    .visit-planets{ 
      margin-bottom: -40px;
    }
  
    .space-images {
      
      .blast {
      width: 100%;
      }
    
      .launch, .sky{
        display: none;
      }
    }
    
    .walk{
      .display();
      flex-direction: column-reverse;
    // width: 100%;
    
      .walk-text {
        width: 100%;
        margin-top: 40px;
      
        .btn {
          width: 100%;
          height: 60px;
          padding-top: 15px;
        }
      }

      .walk-img{
        width: 120%;
        margin-left: -46px;
      }
  
}
 
}
}