// Navigation code here

    
    nav {
        .display();
        justify-content: space-between;
        margin: 0 auto;
        text-align: center;
        font:@river-bend;
        padding-bottom: 10px;
            
        ul {
                
            li {
                display: inline;
                
                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: @ebony-clay;
                }       
            
            }   
        }
    }